.textstyles {
    margin: 0 0 1rem 0;
    padding: none;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 600;
}

.Linkto {
    align-self: center;
    text-decoration: none;
    color: white;
    width: fit-content;
    min-width: 100px;
}
