.textstyles {
    margin: 0 0 0.5rem 0;
    padding: none;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 600;
}

.Linkto {
    align-self: center;
    text-decoration: none;
    color: white;
    width: fit-content;
    min-width: 100px;
}
.makeOwn {
    font-size: 1.2em;
}
#item4 {
    margin-bottom: 1.5em;
}
#item2 {
    margin-top: 1em;
}

.commentCotainer {
    display: grid;
    grid-area: 4/1 / span 1 / span 3;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    justify-content: center;
    max-width: 100vw;
    min-height: 20vh;
    margin: 0;
    @media only screen and (max-width: 825px) {
        /* For mobile phones: */
        margin: 1em 1em;
        padding: 1em;
        grid-area: 4/1 / span 1 / span 1;
    }
    .commentBox:nth-of-type(even) {
        margin-left: 1em;
    }
    .commentBox:nth-of-type(odd) {
        margin-right: 1em;
    }
}

.commentBox {
    background-color: #eff1fa;
    margin: 0.2em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    min-width: 80vw;
}
.centeredDiv {
    margin: auto;
}
div[class*="makeStyles-paper-"] {
    border-radius: 0.5em;
}

.commentForm {
    display: grid;
    gap: 1em;
}

.submitInput {
    justify-self: center;
    border-radius: 0.5em;
    border: none;
    background-color: #1652f0;
    color: white;
    padding: 0.3em 1em;
}
.textInput {
    border-radius: 0.5em;
    border: none;
    background-color: #eff1fa;
    height: 10em;
}
