$baseColor: #1171ba;

.Logo {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    grid-template-columns: auto auto;
    width: auto;
    align-self: center;
    cursor: pointer;
    svg {
        align-self: center;
        fill: "black";
    }
    margin: 0 0 0.5rem 0;

    span {
        margin: 0px 0.6rem;
        align-self: center;
        color: black;
        font-weight: 600;
        font-size: 3rem;
    }
}

.Body {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    background-color: $baseColor;

    .MuiBox-root-2 {
        margin-bottom: none !important;
    }
    .smallText {
        font-size: 8px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .Link {
        text-decoration: none;
    }
    .textstyles {
        margin: 0 0 1rem 0;
        padding: none;
        text-align: center;
        font-size: 0.5rem;
        font-weight: 600;
    }

    .centerChart {
        box-sizing: border-box;
        padding: 1.5rem;
        min-width: 50vw;
        width: auto;
        max-height: 80vh;
        min-height: 80vh;
        align-self: center;
        justify-self: center;
        display: grid;
        background-color: white;
        border-radius: 0.8rem;
        grid-template-rows: 7fr 1fr 1fr 1fr;

        .search {
            max-width: 300px;
            min-width: 250px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            background-color: lightgray;
            border: solid 1px lightgray;
            color: rgb(96, 96, 96);
            text-align: center;
        }
        button {
            min-width: 100px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $baseColor;
            padding: 2px 1rem;
        }

        button:active {
            background-color: lightgray;
        }
        .stockSearch {
            justify-content: center;
            justify-self: center;
            align-self: center;
        }

        #stockForm {
            display: grid;
            justify-self: center;
            padding: 0.5rem 0;
        }
    }
}
