$boxshadow: 0 0 20px 5px rgba(194, 200, 228, 0.4);

.textstyles {
    padding: none;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    height: fit-content;
    justify-self: center;
    align-self: center;
    margin: 1em;
}

.company-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.Linkto {
    align-self: center;
    text-decoration: none;
    color: white;
    width: fit-content;
    min-width: 100px;
    margin-bottom: 1em;
}
.makeOwn {
    font-size: 1.2em;
}

.infoBox {
    margin-bottom: 1em;
}

.commentContainer {
    display: grid;
    grid-area: 4/1 / span 1 / span 3;
    box-sizing: border-box;

    @media only screen and (max-width: 825px) {
        /* For mobile phones: */

        grid-area: 4/1 / span 1 / span 1;
    }

    .infoContainer {
        min-height: 100px;
        background-color: white;
        box-shadow: $boxshadow;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        margin-bottom: 0 !important;

        .commentBox:nth-of-type(even) {
            margin-right: 2em;
        }
        .commentBox:nth-of-type(odd) {
            margin-left: 2em;
        }
        .commentBox {
            background-color: #eff1fa;

            padding: 0.5em;
            margin-bottom: 1em;

            min-width: 250px;
        }
        .centeredDiv {
            margin: auto;
        }
    }
}

div[class*="makeStyles-paper-"] {
    border-radius: 0.5em;
}
.makeStyles-paper-5 {
    border-radius: 0.5em;
}
.makeStyles-paper-10 {
    border-radius: 0.5em;
}

.commentForm {
    display: grid;
    gap: 1em;
}

.submitInput {
    justify-self: center;
    border: none;
    background-color: #1652f0;
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    width: 250px;
}
.textInput {
    border: none;
    background-color: #eff1fa;
    height: 10em;
    font-weight: bold;
    padding: 0.5em 1em;
}
strong {
    margin: auto;
}
.chatBorder {
    margin-bottom: 0em;
}
.stickyBottom {
    position: absolute;
    bottom: 0;
}
.centerDiv {
    margin: auto;
}

.commentTitle {
    text-align: center;
    margin: 1em;
}

.unliked {
    background-color: lightgray !important;
}
.liked {
    background-color: rgb(255, 80, 80) !important;
}
