$boxshadow: 0 0 20px 5px rgba(194, 200, 228, 0.4);

.dashboard-content {
    a:hover {
        text-decoration: none;
    }
    .dashboard-main {
        max-width: 600px;
        margin: auto;

        > * {
            margin-bottom: 1em;
        }
    }
    .favoriteContainer {
        :hover {
            opacity: 0.8;
        }
    }

    .dashboard-list {
        background-color: #1652f0;
        color: white;
        display: flex;

        margin: 0.5em 0;
        > * {
            padding: 0.5em 1em;
        }

        .number-list {
            background-color: #373a47;
            width: 50px;
            text-align: center;
        }
    }

    .recent-content {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;

        > * {
            margin-bottom: 1em;
        }
    }

    .header {
        width: 100%;
        color: black;
        text-align: center;
    }

    .styledHeader {
        strong {
            font-size: 1.5em;
        }
    }
    .title-card {
        background-color: white;

        box-shadow: $boxshadow;
        padding: 1em;
        text-align: center;
    }
    button {
        width: 250px;
    }
    .link-card {
        .link-body {
            justify-content: center;
            display: grid;
            button {
                width: 250px;
            }
        }
    }
    .infoContainer {
        background-color: white;

        justify-content: center;
        box-shadow: $boxshadow;
        padding: 1em;

        margin: auto;
        max-width: 600px;

        .deleteIcon {
            margin: 0 0 0 0;
        }

        .centerThis {
            justify-content: center;
        }
    }
}
.createButton {
    width: 250px !important;
    background-color: rgb(15, 201, 108) !important;
    margin: 0.5em 0;
    padding: 0.5em !important;
}
