$boxshadow: 0 0 20px 5px rgba(194, 200, 228, 0.4);

.dashboard-content {
    .dashboard-main {
        max-width: 600px;
        margin: auto;
    }
    .favoriteContainer {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        height: fit-content;
        width: 100%;
        button {
            width: 75vw;
            max-width: 500px;
        }
        .header {
            width: 100%;
            color: black;
            text-align: center;
        }
    }
    .styledHeader {
        padding: 1em 1em 0 1em;
        strong {
            font-size: 1.5em;
        }
    }
    .title-card {
        background-color: white;
        border-radius: 0.5em;
        box-shadow: $boxshadow;
        padding: 1em 0em;
    }
    .link-card {
        padding: 0em 1em 0 1em;
        .link-body {
            padding: 0em;
            justify-content: center;
            display: grid;
        }
    }
    .infoContainer {
        background-color: white;
        border-radius: 0.5em;
        justify-content: center;
        box-shadow: $boxshadow;
        padding: 1em;
        display: grid;
        margin: auto;
        max-width: 600px;

        .deleteIcon {
            margin: 0 0 0 0;
        }

        .centerThis {
            justify-content: center;
        }
    }
}
.createButton {
    width: fit-content !important;
    background-color: rgb(15, 201, 108) !important;
}
