$boxshadow: 0 0 20px 5px rgba(194, 200, 228, 0.4);

.dashboardInfo {
    display: grid;
    grid-area: 2/1 / span 1 / span 3;
    width: 100vw;

    .favoriteContainer {
        display: grid;
        height: fit-content;
        width: 100%;
        button {
            width: 75vw;
        }
        .header {
            width: 100%;
            color: black;
            font-size: 1.5em;

            text-align: center;
        }
    }

    .infoContainer {
        background-color: white;
        border-radius: 0.5em;
        justify-content: center;
        margin: 1em;
        box-shadow: $boxshadow;
        padding: 1em;
        display: grid;

        .deleteIcon {
            margin: 0 0 0 0;
        }

        .centerThis {
            justify-content: center;
        }
    }
}
.createButton {
    width: fit-content !important;
    background-color: rgb(15, 201, 108) !important;
}
