$baseColor: #1171ba;
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
* {
    box-sizing: border-box;
}

.Logo {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    width: auto;
    height: auto;
    cursor: pointer;
    align-self: center;
    svg {
        align-self: center;
        fill: white;
    }
    margin: 0;
}

span {
    margin: 0px 0px 10px 0px;
    align-self: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    margin: auto;
}
.Link {
    align-self: center;
    text-decoration: none;
    color: white;
}
.Body {
    font-family: "Comfortaa";
    padding: 5px;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    background-color: $baseColor;
    text-transform: uppercase;
    box-sizing: border-box;

    .centerChart {
        box-sizing: border-box;
        padding: 1.5rem 3rem;
        min-width: 50vw;
        width: auto;
        max-height: 80vh;
        min-height: 40vh;
        align-self: center;
        justify-self: center;
        display: grid;
        background-color: white;
        border-radius: 0.8rem;
        grid-template-columns: auto auto;

        #item1 {
            grid-area: 1/1 / span 3 / span 2;
        }
        #item1b {
            grid-area: 1/3 / span 2 / span 1;
            padding: 0 0 0 10px;
        }
        #item1a {
            grid-area: 3/3 / span 1 / span 1;
            padding: 10px 10px 0 10px;
        }

        #item2 {
            grid-area: 4/1 / span 1 / span 3;
            padding: 5px 0;
        }
        #item3 {
            grid-area: 5/1 / span 1 / span 3;
            margin-top: 3px;
        }

        #item4 {
            grid-area: 6/1 / span 1 / span 3;
        }
        #item5 {
            grid-area: 7/1 / span 1 / span 3;
        }
        #item6 {
            grid-area: 8/1 / span 1 / span 3;
        }
        .search {
            max-width: 300px;
            min-width: 250px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            background-color: lightgray;
            border: solid 1px lightgray;
            color: rgb(49, 49, 49);
            text-align: center;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        button {
            min-width: 100px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $baseColor;
            padding: 2px 1rem;
        }
        #buttonstyles {
            min-width: 100px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $baseColor;
            padding: 2px 1rem;
        }
        .buttonlike {
            min-width: 250px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border-width: 1px;
            padding: 2px 1rem;
            font-size: 0.6rem;
            text-align: center;
        }
        .goto {
            background-color: rgb(15, 201, 108) !important;
        }

        button:active {
            background-color: lightgray;
        }
        .stockSearch {
            justify-content: center;
            justify-self: center;
            background-color: white;
            align-self: center;
        }

        #stockForm {
            display: grid;
            justify-self: center;
            padding: 0;
        }
        #stockFormTwo {
            display: grid;
            justify-self: center;
            padding: 0.5rem 0;
        }
    }
}
