$baseColor: #eff1fa;
$buttonColor: #1652f0;
$boxshadow: 0 0 30px 5px rgba(194, 200, 228, 0.4);
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
* {
    box-sizing: border-box;
}

.Logo {
    width: fit-content;
    cursor: pointer;
    align-self: center;
    svg {
        align-self: center;
        fill: white;
    }
    margin: auto;
}

span {
    margin: 0px 0px 10px 0px;
    align-self: center;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: auto;
}
.Link {
    text-decoration: none;
    color: white;
    width: fit-content;
}

.Body {
    font-family: "Comfortaa";
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    background-image: linear-gradient(#d7e0fa, white);
    background-color: #dbe2f5;
    padding: 1em;
    box-sizing: border-box;

    @media only screen and (max-width: 825px) {
        /* For mobile phones: */
        padding: 0em;
        width: auto;
        font-family: "Comfortaa";
        background-color: #f0f4ff;
        box-sizing: border-box;
    }

    .dashboard {
        display: grid;
        grid-template-columns: auto;
        max-height: 95vh;
        grid-gap: 0.5em;
        padding-bottom: 1em;
        background-color: $baseColor;
        border-radius: 2em;
        box-shadow: $boxshadow;
        justify-content: center;

        @media only screen and (min-width: 826px) {
            /* For mobile phones: */
            justify-self: center;
            margin-left: 0;
        }
        @media only screen and (max-width: 825px) {
            /* For mobile phones: */
            display: grid;
            grid-template-columns: 1fr;

            grid-template-rows: auto;
            padding: 0 1em 1em 1em;
            min-width: 100vw;
            border-radius: 0;
            grid-gap: 0em;
            min-height: 100vh;
            overflow-x: hidden;
        }
        .resetButton {
            color: #ff3547;
            background-color: white;
            border: solid 1px;
        }
        .navbar {
            background-color: $buttonColor;
            grid-area: 1/1 / span 1 / span 3;
            border-radius: 1em 1em 0 0;
            height: 50px;
            padding: 7px 1em;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                grid-area: 1/1 / span 1 / span 1;
                border-radius: 0;
                padding: 5px 1em;
                width: 100vw;
            }
        }

        .scrollbar {
            display: flex;
            overflow-x: hidden;
            scroll-snap-align: center;
            grid-area: 2/1 / span 1 / span 3;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                grid-area: 2/1 / span 1 / span 1;
                padding: 1em;
                background-color: $baseColor;
                overflow-y: hidden;
                font-size: 1.2em;
                color: $baseColor;
                max-width: 100vw;
                overflow-x: scroll;
                padding-top: 11px;
            }

            #item:first-child {
                @media only screen and (max-width: 825px) {
                    /* For mobile phones: */
                    margin-left: 0;
                }
            }
            #item {
                max-width: 600px;
                background-color: white;
                border-radius: 1em;
                margin: 0 0.5em;
                padding: 1em;
                min-height: 300px;

                @media only screen and (max-width: 825px) {
                    /* For mobile phones: */
                    min-height: 250px;
                    margin: 0 0.5em;
                    max-width: 360px;
                    box-shadow: $boxshadow;
                }
            }
        }

        .tilde {
            position: absolute;
            right: 6%;
            top: 40%;
            display: block;
            margin: auto;
            color: gray;
            text-align: right;
            font-size: 1em;
            font-weight: 600;
            opacity: 0.4;
        }
        .tildeleft {
            position: absolute;
            left: 6%;
            top: 40%;
            display: block;
            margin: auto;
            color: gray;
            text-align: right;
            font-size: 1em;
            font-weight: 600;
            opacity: 0.4;
        }
        .searchandsend {
            display: grid;
            grid-area: 3/1 / span 1 / span 3;
            background-color: white;
            border-radius: 1em;
            padding: 0.5em;
            box-sizing: border-box;
            justify-content: center;
            max-width: 100vw;
            margin: 0 0.5em;
            @media only screen and (max-width: 825px) {
                /* For mobile phones: */

                margin: 0 1em;
                padding: 1em;
                grid-area: 3/1 / span 1 / span 1;
            }
        }

        // #item5 {
        //     grid-area: 7/1 / span 1 / span 3;
        // }
        // #item6 {
        //     grid-area: 8/1 / span 1 / span 3;
        // }
        .search {
            max-width: 500px;
            min-width: 350px;
            justify-self: center;
            margin: 5px;
            border-radius: 4px;
            background-color: lightgray;
            border: solid 1px lightgray;
            color: rgb(71, 71, 71);
            text-align: center;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */

                font-size: 1.3rem;
                min-width: 250px;
            }
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        button {
            min-width: 150px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $buttonColor;
            padding: 0.3em 3em;
            box-shadow: $boxshadow;
        }
        #buttonstyles {
            min-width: 100px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $baseColor;
            padding: 2px 1rem;
            box-shadow: $boxshadow;
        }
        .buttonlike {
            min-width: 250px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border-width: 1px;
            padding: 2px 1rem;
            font-size: 0.6rem;
            text-align: center;
            box-shadow: $boxshadow;
        }
        .goto {
            background-color: rgb(15, 201, 108) !important;
            box-shadow: $boxshadow;
        }

        button:active {
            background-color: lightgray;
        }
        .stockSearch {
            justify-content: center;
            justify-self: center;

            align-self: center;
        }

        #stockForm {
            display: grid;
            justify-self: center;
            padding: 0;
        }
        #stockFormTwo {
            display: grid;
            justify-self: center;
            padding: 0.5rem 0;
        }
    }

    .centerChart {
        box-sizing: border-box;
        padding: 0rem 3rem 0.5rem 3rem;
        min-width: 90vw;
        width: auto;
        max-height: 90vh;
        justify-self: center;
        display: grid;
        background-color: white;
        border-radius: 0.8rem;
        grid-template-columns: auto auto;
    }
}

// $baseColor: #f9faff;
// $buttonColor: #1652f0;
// $boxshadow: 0 0 30px 5px rgba(194, 200, 228, 0.4);
// @import url("https://fonts.googleapis.com/css?family=Comfortaa");
// * {
//     box-sizing: border-box;
// }

// .Logo {
//     width: fit-content;
//     cursor: pointer;
//     align-self: center;
//     svg {
//         align-self: center;
//         fill: white;
//     }
//     margin: auto;
// }

// span {
//     margin: 0px 0px 10px 0px;
//     align-self: center;
//     color: white;
//     font-weight: 600;
//     text-decoration: none;
//     margin: auto;
// }
// .Link {
//     text-decoration: none;
//     color: white;
//     width: fit-content;
// }

// .Body {
//     font-family: "Comfortaa";
//     width: 100vw;
//     height: 100vh;
//     max-height: 100vh;
//     display: grid;

//     background-image: linear-gradient(#d7e0fa, white);

//     background-color: #dbe2f5;
//     padding: 3em;
//     box-sizing: border-box;

//     @media only screen and (max-width: 825px) {
//         /* For mobile phones: */
//         padding: 0em;

//         width: auto;
//         font-family: "Comfortaa";
//         background-color: #f0f4ff;
//         box-sizing: border-box;
//     }

//     .dashboard {
//         display: grid;
//         grid-template-columns: 1.5fr 1fr 1fr;
//         max-height: 85vh;
//         grid-gap: 1em;
//         padding-bottom: 1em;
//         background-color: $baseColor;
//         border-radius: 2em;
//         box-shadow: $boxshadow;
//         justify-content: center;
//         @media only screen and (max-width: 825px) {
//             /* For mobile phones: */
//             display: grid;
//             grid-template-columns: 1fr;
//             grid-template-rows: auto;
//             padding: 0 1em 1em 1em;
//             min-width: 100vw;
//             border-radius: 0;
//             grid-gap: 1em;
//             max-height: 100%;
//             overflow-x: hidden;
//         }

//         .navbar {
//             background-color: $buttonColor;
//             grid-area: 1/1 / span 1 / span 3;
//             border-radius: 1em 1em 0 0;
//             height: 50px;
//             padding: 7px 1em;

//             @media only screen and (max-width: 825px) {
//                 /* For mobile phones: */
//                 grid-area: 1/1 / span 1 / span 1;
//                 border-radius: 0;
//                 padding: 5px 1em;
//                 width: 100%;
//             }
//         }
//         #item1 {
//             margin-left: 1em;
//             grid-area: 2/1 / span 2 / span 1;
//             background-color: white;
//             border-radius: 1em;
//             padding: 1.5em;
//             box-shadow: $boxshadow;
//             @media only screen and (max-width: 825px) {
//                 /* For mobile phones: */
//                 margin: 0 1em;
//                 height: 450px;
//                 grid-area: 3/1 / span 1 / span 1;
//             }
//         }
//         #item1b {
//             grid-area: 2/2 / span 1 / span 1;
//             background-color: white;
//             border-radius: 1em;
//             padding: 1.5em;
//             box-shadow: $boxshadow;
//             @media only screen and (max-width: 825px) {
//                 /* For mobile phones: */
//                 box-sizing: border-box;
//                 margin: 0 1em;
//                 height: 300px;
//                 grid-area: 4/1 / span 1 / span 1;
//             }
//         }
//         #item1a {
//             grid-area: 2/3 / span 1 / span 1;
//             background-color: white;
//             border-radius: 1em;
//             padding: 1.5em;
//             box-shadow: $boxshadow;
//             margin-right: 1em;
//             @media only screen and (max-width: 825px) {
//                 /* For mobile phones: */
//                 margin: 0 1em 1em 1em;
//                 grid-area: 5/1 / span 1 / span 1;
//             }
//         }
//         .searchandsend {
//             display: grid;
//             grid-area: 3/2 / span 1 / span 2;
//             background-color: white;
//             border-radius: 1em;
//             padding: 1em;
//             box-sizing: border-box;
//             box-shadow: $boxshadow;
//             justify-content: center;

//             margin-right: 1em;
//             @media only screen and (max-width: 825px) {
//                 /* For mobile phones: */
//                 margin: 0 1em;
//                 grid-area: 2/1 / span 1 / span 1;
//             }
//         }

//         #item5 {
//             grid-area: 7/1 / span 1 / span 3;
//         }
//         #item6 {
//             grid-area: 8/1 / span 1 / span 3;
//         }
//         .search {
//             max-width: 500px;
//             min-width: 350px;
//             justify-self: center;
//             margin: 3px;
//             border-radius: 4px;
//             background-color: lightgray;
//             border: solid 1px lightgray;
//             color: rgb(49, 49, 49);
//             text-align: center;
//             box-shadow: $boxshadow;
//             @media only screen and (max-width: 825px) {
//                 /* For mobile phones: */

//                 min-width: 250px;
//             }
//         }
//         input[type="number"]::-webkit-inner-spin-button,
//         input[type="number"]::-webkit-outer-spin-button {
//             -webkit-appearance: none;
//             margin: 0;
//         }
//         button {
//             min-width: 150px;
//             justify-self: center;
//             margin: 3px;
//             border-radius: 4px;
//             border: none;
//             cursor: pointer;
//             color: white;
//             background-color: $buttonColor;
//             padding: 0.2em 3em;
//             box-shadow: $boxshadow;
//         }
//         #buttonstyles {
//             min-width: 100px;
//             justify-self: center;
//             margin: 3px;
//             border-radius: 4px;
//             border: none;
//             cursor: pointer;
//             color: white;
//             background-color: $baseColor;
//             padding: 2px 1rem;
//             box-shadow: $boxshadow;
//         }
//         .buttonlike {
//             min-width: 250px;
//             justify-self: center;
//             margin: 3px;
//             border-radius: 4px;
//             border-width: 1px;
//             padding: 2px 1rem;
//             font-size: 0.6rem;
//             text-align: center;
//             box-shadow: $boxshadow;
//         }
//         .goto {
//             background-color: rgb(15, 201, 108) !important;
//             box-shadow: $boxshadow;
//         }

//         button:active {
//             background-color: lightgray;
//         }
//         .stockSearch {
//             justify-content: center;
//             justify-self: center;

//             align-self: center;
//         }

//         #stockForm {
//             display: grid;
//             justify-self: center;
//             padding: 0;
//         }
//         #stockFormTwo {
//             display: grid;
//             justify-self: center;
//             padding: 0.5rem 0;
//         }
//     }

//     .centerChart {
//         box-sizing: border-box;
//         padding: 0rem 3rem 0.5rem 3rem;
//         min-width: 90vw;
//         width: auto;
//         max-height: 90vh;
//         justify-self: center;
//         display: grid;
//         background-color: white;
//         border-radius: 0.8rem;
//         grid-template-columns: auto auto;
//     }
// }
