$baseColor: #eff1fa;
$buttonColor: #1652f0;
$boxshadow: 0 0 20px 5px rgba(194, 200, 228, 0.4);
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
* {
    box-sizing: border-box;
}

.fixthis {
    background-color: white;

    padding: 1.5em;
    box-shadow: $boxshadow;
    min-height: 400px;
    max-width: 600px;
}
.carousel-indicators {
    margin: 0;

    li {
        background-color: #e5e5e5;
    }
}
.carousel-content {
    max-width: 600px;
    margin: auto;

    > * {
        margin-bottom: 1em;
    }
}
.carousel {
    margin: 0 0 1em 0;

    box-shadow: $boxshadow;
}

.carousel-item {
    @media only screen and (min-width: 825px) {
        /* For mobile phones: */
        width: 600px;
    }
}
.carousel-control-next-icon:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='gray' width='20' height='20' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='gray' width='20' height='20' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.favoriteContainer {
    min-height: 200px;
    padding: 1em;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.Logo {
    width: fit-content;
    cursor: pointer;
    align-self: center;

    svg {
        align-self: center;
        fill: white;
    }
    margin: auto;
}

span {
    margin: 0px 0px 10px 0px;
    align-self: center;
    color: white;
    font-weight: 600;
    text-decoration: none;

    margin: auto;
}

.add-stock {
    background-color: #34dd75 !important;
}
.inactive {
    background-color: #e5e5e5 !important;
    color: rgb(139, 139, 139) !important;
    width: 100%;
    margin: 1.5em 0 0.5em 0;
    padding: 0.5em;
}
.selected {
    width: 250px;
    font-size: 1.25em;
    background-color: $buttonColor;
    color: white;
    padding: 0.5rem 0 0.5em 0;

    text-align: center;
    font-weight: bold;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.whiteout {
    background-color: white !important;
    color: black;
}
.search-result {
    margin: 0em 0;
    background-color: $baseColor;
    padding: 0.5em;
    width: 250px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    display: flex;
}

.search-result:hover {
    background-color: $buttonColor;
    color: white;
    > * {
        color: white;
    }
}
.stock-name {
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    margin: 0 0.5em 0 0;
}
.Link {
    justify-self: center;
    text-decoration: none;
    color: white;
    width: fit-content;
}

.submit-content {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-area: 3/1 / span 1 / span 3;

    background-color: white;
    padding: 1em;
    box-shadow: $boxshadow;

    @media only screen and (max-width: 825px) {
        /* For mobile phones: */
        grid-area: 3/1 / span 1 / span 1;
    }
    @media only screen and (max-width: 437px) {
        /* For mobile phones: */
        grid-area: 3/1 / span 1 / span 1;
        min-height: 25vh !important;
    }

    .submit-form {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 250px;
        justify-content: center;
        justify-self: center;

        .buttonBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;
        }

        @media only screen and (max-width: 825px) {
            /* For mobile phones: */
        }
        @media only screen and (max-width: 437px) {
            /* For mobile phones: */
        }
    }
}

main {
    font-family: "Comfortaa";
    box-sizing: border-box;
    overflow-x: hidden;

    @media only screen and (max-width: 825px) {
        /* For mobile phones: */
        padding: 0em;
        width: auto;
        font-family: "Comfortaa";
        background-color: #f0f4ff;
        box-sizing: border-box;
    }

    .dashboard {
        background-color: $baseColor;
        width: 100vw;

        .dashboard-content {
            padding: calc(55px + 1em) 1em 1em 1em;
            min-height: 100vh;
        }

        .resetButton {
            background-color: rgb(241, 48, 41) !important;
            border: solid 1px;
        }

        .navbar {
            width: 100%;
            background-color: $buttonColor;
            height: 55px;
            position: fixed;
            top: 0;
            z-index: 999;
            padding: 0.5em 1em;
        }
        .navbar-content {
            max-width: 600px;
            width: 100%;
            margin: auto;
            padding: 0 0.5em;
            grid-area: 1/1 / span 1 / span 3;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                grid-area: 1/1 / span 1 / span 1;
                border-radius: 0;
            }
        }
        .navbar-content > * {
            display: grid;
            align-content: center;
        }

        .scrollbar {
            display: flex;
            overflow-x: hidden;
            scroll-snap-align: center;
            grid-area: 2/1 / span 1 / span 3;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                grid-area: 2/1 / span 1 / span 1;
                padding: 0.5em 1em;
                background-color: $baseColor;
                overflow-y: hidden;
                font-size: 1.2em;
                color: $baseColor;
                max-width: 100vw;
                overflow-x: scroll;
                padding-top: 11px;
            }
            @media only screen and (max-width: 437px) {
                /* For mobile phones: */
                grid-area: 2/1 / span 1 / span 1;
                padding: 0.5em 1em;
                background-color: $baseColor;
                overflow-y: hidden;
                font-size: 1.2em;
                color: $baseColor;
                max-width: 100vw;
                overflow-x: scroll;
                padding-top: 11px;
            }

            #item:first-child {
                @media only screen and (max-width: 825px) {
                    /* For mobile phones: */
                    margin-left: 0;
                }
            }
            #item {
                max-width: 600px;
                background-color: white;

                @media only screen and (max-width: 825px) {
                    /* For mobile phones: */
                    min-height: 200px;
                    margin: 0 0.5em;
                    max-width: 360px;
                    box-shadow: $boxshadow;
                }
            }
        }

        .tilde {
            position: absolute;
            right: 6%;
            top: 40%;
            display: block;
            margin: auto;
            color: gray;
            text-align: right;
            font-size: 1em;
            font-weight: 600;
            opacity: 0.4;
        }
        .tildeleft {
            position: absolute;
            left: 6%;
            top: 40%;
            display: block;
            margin: auto;
            color: gray;
            text-align: right;
            font-size: 1em;
            font-weight: 600;
            opacity: 0.4;
        }
        .searchandsend {
            display: grid;
            grid-area: 3/1 / span 1 / span 3;
            background-color: white;

            padding: 0.5em;
            box-sizing: border-box;
            justify-content: center;
            min-height: 30vh;
            margin: 0 1em;
            box-shadow: $boxshadow;
            width: 98vw;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                margin: 0 1em 1em 1em;
                padding: 0 1em;
                grid-area: 3/1 / span 1 / span 1;
                width: 100%;
                max-width: 95vw;
                min-height: 40vh;
            }
            @media only screen and (max-width: 437px) {
                /* For mobile phones: */
                margin: 0 1em;
                padding: 0 1em;
                grid-area: 3/1 / span 1 / span 1;
                width: 100%;
                max-width: 91.5vw;
                min-height: 22vh;
                max-height: 30vh;
            }
        }

        .search {
            max-width: 500px;
            min-width: 350px;
            justify-self: center;
            margin: 5px;

            background-color: lightgray;
            border: solid 1px lightgray;
            color: rgb(71, 71, 71);
            text-align: center;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                font-size: 1.1rem;
                min-width: 250px;
            }
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        button {
            background-color: $buttonColor;
            justify-self: center;
        }
        .blockStyle {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                width: 56px !important;
            }
        }
        button:not(.MuiFab-root) {
            justify-self: center;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $buttonColor;

            min-width: 80px;
            padding: 0.5em;
            margin: 0.5em 0;
            @media only screen and (max-width: 825px) {
                /* For mobile phones: */

                font-size: 0.8em;
            }
        }
        #buttonstyles {
            min-width: 100px;
            justify-self: center;
            margin: 3px;

            border: none;
            cursor: pointer;
            color: white;
            background-color: $baseColor;
            padding: 2px 1rem;
            box-shadow: $boxshadow;
        }

        .goto {
            background-color: rgb(15, 201, 108) !important;
            box-shadow: $boxshadow;
        }

        button:active {
            background-color: lightgray;
        }
        .stockSearch {
            justify-content: center;
            justify-self: center;
            align-self: center;
            display: flex;
            width: 250px;
            button {
                width: 100%;
                margin: 0.5em 0 0.5em 0;
                padding: 0.5em;
            }
        }

        #stockForm {
            display: grid;
            justify-self: center;
            padding: 0;
            margin: 0.5em 0;
        }
        #stockFormTwo {
            display: grid;
            justify-self: center;
            padding: 1rem 0;
            margin: 0.5em 0;
        }

        $primary: #161d1c;
        $secondary: #38ef7d;
        $white: #fff;
        $gray: #9b9b9b;
        .form__group {
            position: relative;
            margin: 0.5em 0;
            display: flex;
            justify-content: center;
        }

        .form__field {
            font-family: inherit;
            width: 100%;
            border: 0;
            border-bottom: 2px solid $buttonColor;
            outline: 0;
            font-size: 1.2rem;
            text-align: center;
            color: black;
            padding: 0.5em 0 0 0;
            background: transparent;
            transition: border-color 0.2s;
            border-radius: 0;
            min-width: 250px;

            &::placeholder {
                color: transparent;
            }

            &:placeholder-shown ~ .form__label {
                font-size: 1rem;
                cursor: text;
                top: 0.5em;
                text-align: center;
                pointer-events: none;
            }
        }

        .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 0.6rem;
            color: $gray;
            pointer-events: none;
        }

        .form__field:focus {
            ~ .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 0.6rem;
                color: $buttonColor;
                font-weight: 700;
                border: 0;
            }
            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $buttonColor, $buttonColor);
            border-image-slice: 1;
            background-color: $baseColor;
        }
        /* reset input */
        .form__field {
            &:required,
            &:invalid {
                box-shadow: none;
            }
        }
    }

    .direct {
        justify-self: right;
        color: white;
        cursor: pointer;
    }
    .toHome {
        color: white;
        cursor: pointer;
    }
}
