$baseColor: #f9faff;
$buttonColor: #1652f0;
$boxshadow: 0 0 30px 5px rgba(194, 200, 228, 0.4);
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
* {
    box-sizing: border-box;
}

.Logo {
    width: fit-content;
    height: auto;
    cursor: pointer;
    align-self: center;
    svg {
        align-self: center;
        fill: $buttonColor;
    }
    margin: 0;
}

span {
    margin: 0px 0px 10px 0px;
    align-self: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    margin: auto;
}
.Link {
    align-self: center;
    text-decoration: none;
    color: white;
    width: fit-content;
    position: fixed;
    left: 0%;
    top: 0%;
    margin-left: 1em;
    margin-top: 1em;
}

.Body {
    font-family: "Comfortaa";
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    background-color: #f0f4ff;
    padding: 3em;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        padding: 0em;

        width: auto;
        font-family: "Comfortaa";
        background-color: #f0f4ff;
        box-sizing: border-box;
    }

    .dashboard {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        max-height: 85vh;
        grid-gap: 1.5em;
        padding: 2em;
        background-color: $baseColor;
        border-radius: 2em;
        box-shadow: $boxshadow;
        justify-content: center;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr 2fr 1fr 1fr;
            padding: 1em;
            min-width: 100vw;
            border-radius: 0;
            grid-gap: 1em;
            max-height: 100%;
        }

        #item1 {
            grid-area: 1/1 / span 2 / span 1;
            background-color: white;
            border-radius: 1em;
            padding: 1.5em;
            box-shadow: $boxshadow;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                width: fit-content;
                border-radius: 1em;
                grid-area: 2/1 / span 1 / span 1;
            }
        }
        #item1b {
            grid-area: 1/2 / span 1 / span 1;
            background-color: white;
            border-radius: 1em;
            padding: 1.5em;
            box-shadow: $boxshadow;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                width: fit-content;
                border-radius: 1em;
                grid-area: 3/1 / span 1 / span 1;
            }
        }
        #item1a {
            grid-area: 1/3 / span 1 / span 1;
            background-color: white;
            border-radius: 1em;
            padding: 1.5em;
            box-shadow: $boxshadow;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                width: fit-content;
                border-radius: 1em;
                grid-area: 4/1 / span 1 / span 1;
            }
        }
        .searchandsend {
            display: grid;
            grid-area: 2/2 / span 1 / span 2;
            min-width: 100%;
            background-color: white;
            border-radius: 1em;
            padding: 1em;
            box-shadow: $boxshadow;
            justify-content: center;
            max-height: 30vh;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                width: fit-content;
                border-radius: 1em;
                grid-area: 1/1 / span 1 / span 1;
            }
        }

        #item2 {
            grid-area: 4/1 / span 1 / span 3;
            margin-bottom: 5px;
        }
        #item3 {
            grid-area: 5/1 / span 1 / span 3;
        }

        #item4 {
            grid-area: 6/1 / span 1 / span 3;
        }
        #item5 {
            grid-area: 7/1 / span 1 / span 3;
        }
        #item6 {
            grid-area: 8/1 / span 1 / span 3;
        }
        .search {
            max-width: 500px;
            min-width: 350px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            background-color: lightgray;
            border: solid 1px lightgray;
            color: rgb(49, 49, 49);
            text-align: center;
            box-shadow: $boxshadow;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */

                min-width: 250px;
            }
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        button {
            min-width: 150px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $buttonColor;
            padding: 0.2em 3em;
            box-shadow: $boxshadow;
        }
        #buttonstyles {
            min-width: 100px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $baseColor;
            padding: 2px 1rem;
            box-shadow: $boxshadow;
        }
        .buttonlike {
            min-width: 250px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border-width: 1px;
            padding: 2px 1rem;
            font-size: 0.6rem;
            text-align: center;
            box-shadow: $boxshadow;
        }
        .goto {
            background-color: rgb(15, 201, 108) !important;
            box-shadow: $boxshadow;
        }

        button:active {
            background-color: lightgray;
        }
        .stockSearch {
            justify-content: center;
            justify-self: center;

            align-self: center;
        }

        #stockForm {
            display: grid;
            justify-self: center;
            padding: 0;
        }
        #stockFormTwo {
            display: grid;
            justify-self: center;
            padding: 0.5rem 0;
        }
    }

    .centerChart {
        box-sizing: border-box;
        padding: 0rem 3rem 0.5rem 3rem;
        min-width: 90vw;
        width: auto;
        max-height: 90vh;
        justify-self: center;
        display: grid;
        background-color: white;
        border-radius: 0.8rem;
        grid-template-columns: auto auto;
    }
}
