$baseColor: #eff1fa;
$buttonColor: #1652f0;
$boxshadow: 0 0 20px 5px rgba(194, 200, 228, 0.4);
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
* {
    box-sizing: border-box;
}

.fixthis {
    min-height: 90vh;
    background-color: white;
    margin: 1em;
    border-radius: 0.5em;
    padding: 1.5em;
    box-shadow: $boxshadow;
    @media only screen and (max-width: 825px) {
        /* For mobile phones: */
        min-height: 100vh;
    }
    @media only screen and (max-width: 412px) {
        /* For mobile phones: */
        min-height: 65vh;
    }
}
.carousel-indicators {
    margin: 0;
}

.carousel-control-next-icon:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='gray' width='20' height='20' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='gray' width='20' height='20' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.Logo {
    width: fit-content;
    cursor: pointer;
    align-self: center;

    svg {
        align-self: center;
        fill: white;
    }
    margin: auto;
}

span {
    margin: 0px 0px 10px 0px;
    align-self: center;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: auto;
}
.Link {
    justify-self: center;
    text-decoration: none;
    color: white;
    width: fit-content;
}

.Body {
    font-family: "Comfortaa";
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    background-image: linear-gradient(#d7e0fa, white);
    background-color: #dbe2f5;
    padding: 0em;
    box-sizing: border-box;
    overflow-x: hidden;

    @media only screen and (max-width: 825px) {
        /* For mobile phones: */
        padding: 0em;
        width: auto;
        font-family: "Comfortaa";
        background-color: #f0f4ff;
        box-sizing: border-box;
    }

    .dashboard {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 0.5em;
        padding-bottom: 1em;
        background-color: $baseColor;
        border-radius: 2em;
        box-shadow: $boxshadow;
        min-width: 100vw;
        @media only screen and (min-width: 826px) {
            /* For mobile phones: */
            justify-self: center;
            margin-left: 0;
        }
        @media only screen and (max-width: 825px) {
            /* For mobile phones: */
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content;
            min-width: 100vw;
            border-radius: 0;
            grid-gap: 0em;
            min-height: 100vh;
            overflow-x: hidden;
        }
        .resetButton {
            background-color: rgb(241, 48, 41) !important;
            border: solid 1px;
        }
        .navbar {
            background-color: $buttonColor;
            grid-area: 1/1 / span 1 / span 3;
            padding: 7px 1em;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                grid-area: 1/1 / span 1 / span 1;
                border-radius: 0;
                padding: 5px 1em;
                width: 100vw;
            }
        }

        .scrollbar {
            display: flex;
            overflow-x: hidden;
            scroll-snap-align: center;
            grid-area: 2/1 / span 1 / span 3;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                grid-area: 2/1 / span 1 / span 1;
                padding: 0.5em 1em;
                background-color: $baseColor;
                overflow-y: hidden;
                font-size: 1.2em;
                color: $baseColor;
                max-width: 100vw;
                overflow-x: scroll;
                padding-top: 11px;
            }

            #item:first-child {
                @media only screen and (max-width: 825px) {
                    /* For mobile phones: */
                    margin-left: 0;
                }
            }
            #item {
                max-width: 600px;
                background-color: white;
                border-radius: 1em;
                margin: 0 0.5em;
                padding: 1em;

                @media only screen and (max-width: 825px) {
                    /* For mobile phones: */
                    min-height: 200px;
                    margin: 0 0.5em;
                    max-width: 360px;
                    box-shadow: $boxshadow;
                    border-radius: 0.5em;
                }
            }
        }

        .carousel-inner {
            width: 100vw;
            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                width: 100vw;
            }
        }
        .tilde {
            position: absolute;
            right: 6%;
            top: 40%;
            display: block;
            margin: auto;
            color: gray;
            text-align: right;
            font-size: 1em;
            font-weight: 600;
            opacity: 0.4;
        }
        .tildeleft {
            position: absolute;
            left: 6%;
            top: 40%;
            display: block;
            margin: auto;
            color: gray;
            text-align: right;
            font-size: 1em;
            font-weight: 600;
            opacity: 0.4;
        }
        .searchandsend {
            display: grid;
            grid-area: 3/1 / span 1 / span 3;
            background-color: white;
            border-radius: 0.5em;
            padding: 0.5em;
            box-sizing: border-box;
            justify-content: center;
            min-height: 40vh;
            margin: 0 1em;
            box-shadow: $boxshadow;
            width: 98vw;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                margin: 0 1em 1em 1em;
                padding: 0 1em;
                grid-area: 3/1 / span 1 / span 1;
                width: 100%;
                max-width: 95vw;
                min-height: 40vh;
            }
            @media only screen and (max-width: 412px) {
                /* For mobile phones: */
                margin: 0 1em;
                padding: 0 1em;
                grid-area: 3/1 / span 1 / span 1;
                width: 100%;
                max-width: 91.5vw;
                min-height: 22vh;
                max-height: 30vh;
            }
        }

        .search {
            max-width: 500px;
            min-width: 350px;
            justify-self: center;
            margin: 5px;
            border-radius: 4px;
            background-color: lightgray;
            border: solid 1px lightgray;
            color: rgb(71, 71, 71);
            text-align: center;

            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                font-size: 1.1rem;
                min-width: 250px;
            }
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        button {
            background-color: $buttonColor;
            justify-self: center;
            margin: 0.3em 1em;
        }
        .blockStyle {
            display: flex;
            align-items: center;
        }
        button:not(.MuiFab-root) {
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $buttonColor;
            padding: 0.1em 2em;
            box-shadow: $boxshadow;
            min-width: 100px;
            @media only screen and (max-width: 825px) {
                /* For mobile phones: */
                padding: 0.3em 2em;
                font-size: 0.8em;
            }
        }
        #buttonstyles {
            min-width: 100px;
            justify-self: center;
            margin: 3px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: $baseColor;
            padding: 2px 1rem;
            box-shadow: $boxshadow;
        }

        .goto {
            background-color: rgb(15, 201, 108) !important;
            box-shadow: $boxshadow;
        }

        button:active {
            background-color: lightgray;
        }
        .stockSearch {
            justify-content: center;
            justify-self: center;

            align-self: center;
        }

        #stockForm {
            display: grid;
            justify-self: center;
            padding: 0;
            margin-top: 0.2em;
        }
        #stockFormTwo {
            display: grid;
            justify-self: center;
            padding: 1rem 0;
        }

        $primary: #161d1c;
        $secondary: #38ef7d;
        $white: #fff;
        $gray: #9b9b9b;
        .form__group {
            position: relative;

            display: flex;
            justify-content: center;
        }

        .form__field {
            font-family: inherit;
            width: 100%;
            border: 0;
            border-bottom: 2px solid $buttonColor;
            outline: 0;
            font-size: 1rem;
            text-align: center;
            color: black;
            padding: 0.5em 0 0 0;
            background: transparent;
            transition: border-color 0.2s;
            border-radius: 0;

            &::placeholder {
                color: transparent;
            }

            &:placeholder-shown ~ .form__label {
                font-size: 1rem;
                cursor: text;
                top: 0.5em;
                text-align: center;
                pointer-events: none;
            }
        }

        .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 0.6rem;
            color: $gray;
            pointer-events: none;
        }

        .form__field:focus {
            ~ .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 0.6rem;
                color: $buttonColor;
                font-weight: 700;
                border: 0;
            }
            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $buttonColor, $buttonColor);
            border-image-slice: 1;
        }
        /* reset input */
        .form__field {
            &:required,
            &:invalid {
                box-shadow: none;
            }
        }
    }

    .infoBox {
        display: grid;
        grid-area: 3/1 / span 1 / span 3;
        width: 100vw;
        padding: 0 1em;
        @media only screen and (max-width: 825px) {
            /* For mobile phones: */
            grid-area: 3/1 / span 1 / span 1;
        }
        @media only screen and (max-width: 412px) {
            /* For mobile phones: */
            grid-area: 3/1 / span 1 / span 1;
        }

        .infoContainer {
            background-color: white;
            border-radius: 0.5em;
            padding: 0.5em 1em;
            display: grid;
            box-shadow: $boxshadow;
            justify-content: center;
            @media only screen and (max-width: 825px) {
                justify-content: center;
                /* For mobile phones: */
            }
            @media only screen and (max-width: 412px) {
                /* For mobile phones: */
            }
        }
    }
    .buttonBox {
        margin: 0.5em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .direct {
        justify-self: right;
        color: white;
    }
    .toHome {
        color: white;
    }
}
