$boxshadow: 0 0 20px 5px rgba(194, 200, 228, 0.4);
.logincontainer {
    display: grid;
}
.googleInfoBox {
    display: grid;
    grid-area: 2/1 / span 1 / span 3;
    width: 100vw;

    .infoContainer {
        background-color: white;
        border-radius: 0.5em;
        justify-content: center;
        margin: 1em 1em 0 1em;
        box-shadow: $boxshadow;
        padding: 1em;
        display: grid;
    }
}
h6 {
    text-align: center;
}

.loginInfoBox {
    display: grid;
    grid-area: 3/1 / span 1 / span 3;
    width: 100vw;

    .infoContainer {
        background-color: white;
        border-radius: 0.5em;
        justify-content: center;
        min-height: 40vh;
        margin: 1em;
        box-shadow: $boxshadow;
        padding: 1em;
        display: grid;
    }
}
.anonymous {
    background-color: gray !important;
}

.registerInfoBox {
    display: grid;
    grid-area: 4/1 / span 1 / span 3;
    width: 100vw;

    .infoContainer {
        background-color: white;
        border-radius: 0.5em;
        justify-content: center;
        min-height: 40vh;
        margin: 0 1em 1em 1em;
        box-shadow: $boxshadow;
        padding: 1em;
        display: grid;
    }
}

.centerContent {
    justify-self: center;
    align-self: center;
    justify-content: center;
    display: grid;
}

.loginButtons {
    height: fit-content;
    margin-top: 1.5em !important;
    margin-bottom: 0.5em !important;
}
.loginButton {
    height: fit-content;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.title {
    width: fit-content;
    justify-self: center;
    font-size: 1.5em;
}
