$boxshadow: 0 0 20px 5px rgba(194, 200, 228, 0.4);

.login-content {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: auto;
}
.infoContainer {
    background-color: white;
    border-radius: 0.5em;
    justify-content: center;
    box-shadow: $boxshadow;
    padding: 1em;
    display: grid;
    min-width: 100%;
}

h6 {
    text-align: center;
}

.loginInfoBox {
    display: grid;
    grid-area: 2/1 / span 1 / span 3;

    .infoContainer {
        background-color: white;
        border-radius: 0.5em;
        justify-content: center;
        box-shadow: $boxshadow;
        padding: 1em;
        display: grid;
    }
}
.anonymous {
    background-color: gray !important;
}

.registerInfoBox {
    display: grid;
    grid-area: 3/1 / span 1 / span 3;

    .infoContainer {
        background-color: white;
        border-radius: 0.5em;
        justify-content: center;

        box-shadow: $boxshadow;
        padding: 1em;
        display: grid;
    }
}

.centerContent {
    justify-self: center;
    align-self: center;
    justify-content: center;
    display: grid;
}

.loginButtons {
    height: fit-content;
}
.loginButton {
    height: fit-content;
}
.title {
    width: fit-content;
    justify-self: center;
    font-size: 1.5em;
}
